/* RESET STYLES */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* ===== FONTS ===== */
/* @font-face {
    font-family: "AmstelvarAlpha";
    src: url(../fonts/AmstelvarAlpha-VF.ttf) format(ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */
/* ============================================= */
/* ============================================= */
/* ============================================= */
/* ============================================= */
body {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #000;
}

.menu-open body {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 68.125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 0.625rem;
  font-weight: 800;
  color: #fcfdfe;
  letter-spacing: 0.14em;
  min-height: 2.5rem;
  padding: 0.3125rem 1.875rem;
  border-radius: 0.3125rem;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
@media (max-width: 29.99875em) {
  .button {
    padding: 0.3125rem 1.25rem;
    min-height: 2.1875rem;
  }
}

.button--blue {
  background: #4285f4;
}
@media (any-hover: hover) {
  .button--blue:hover {
    background: #0062ff;
  }
}

.button--red {
  background: #ec5863;
}
@media (any-hover: hover) {
  .button--red:hover {
    background: #ff0011;
  }
}

.content__title {
  margin-bottom: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
  text-align: center;
}
.content__title:not(:first-child) {
  margin-top: 4.375rem;
}

.content p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.5rem;
  color: #b6b6b6;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 7.125rem;
  gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .header__container {
    min-height: 4.625rem;
  }
}
@media (max-width: 29.99875em) {
  .header__container {
    gap: 0.9375rem;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  position: relative;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__logo span {
  color: #ec5863;
}
@media (any-hover: hover) {
  .header__logo:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 29.99875em) {
  .header__logo img {
    display: none;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10rem;
}
@media (max-width: 61.99875em) {
  .menu__body {
    gap: 7.5rem;
  }
}
@media (max-width: 53.125em) {
  .menu__body {
    gap: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    gap: 1.25rem;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
  background-color: #ffffff;
}
@media (max-width: 47.99875em) {
  .menu__list {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    padding: 9.375rem 1.25rem 3.125rem 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 3.125rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  .menu-open .menu__list {
    left: 0;
  }
}
.menu__link {
  font-family: "Raleway", sans-serif;
  font-size: 0.625rem;
  white-space: nowrap;
  letter-spacing: 0.14em;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.75rem;
  }
}
.menu__button {
  position: relative;
  z-index: 2;
}
.menu__burger {
  display: none;
}
@media (max-width: 47.99875em) {
  .menu__burger {
    display: block;
    position: relative;
    z-index: 2;
    width: 1.875rem;
    height: 1.125rem;
  }
  .menu__burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .menu__burger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .menu-open .menu__burger::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .menu__burger::after {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
.menu__icon-burger {
  position: absolute;
  height: 0.125rem;
  width: 100%;
  top: calc(50% - 0.0625rem);
  left: 0;
  background-color: #000;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-open .menu__icon-burger {
  left: 50%;
  width: 0;
}

@media (min-width: 48em) {
  .main {
    padding-bottom: 3.125rem;
  }
}
.main__container {
  padding: 9rem 0 3rem 0;
}
@media (min-width: 48em) {
  .main__container {
    position: relative;
  }
  .main__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 75.8%;
    width: 100vw;
    height: 100%;
    background: #ec5863;
    border-radius: 1.875rem 0 0 1.875rem;
  }
}
.main__block {
  position: relative;
  z-index: 2;
  padding: 0 0.625rem 0 1.125rem;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__content:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (max-width: 47.99875em) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }
}
.main__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  padding-right: 0.625rem;
}
.main__body > * {
  margin-bottom: 0.75rem;
}
.main__body > *:last-child {
  margin-bottom: 0;
}
.main__title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.26;
}
.main__title span {
  color: #4285f4;
}
@media (max-width: 29.99875em) {
  .main__title {
    font-size: 1.875rem;
  }
}
.main__text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.38;
  letter-spacing: 0.08em;
  color: #616161;
  margin-bottom: 1.5rem;
  max-width: 23.4375rem;
}
.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
}
.main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 547/394;
}
.video-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.video-link__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.75rem;
          flex: 0 0 2.75rem;
}
.video-link__image svg, .video-link__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 44/44;
}
.video-link__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  font-weight: 400;
  line-height: 1.26;
}
.video-link__title {
  font-size: 0.8125rem;
  letter-spacing: 0.08em;
  color: #b0b0b0;
}
.video-link__text {
  font-size: 0.5625rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}