//% ====== FONTS ======
@import "_fonts.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900&display=swap");

//% == RESET STYLES ===
@import "_reset.scss";

.wrapper {
    overflow: clip;
    min-height: 100%;

    font-family: "Proxima Nova", sans-serif;
    /* &:has(.list:target) {
        backdrop-filter: blur(5px);
        background: rgba(27, 26, 26, 0.8);
    } */
}

.header {

    position: relative;
    z-index: 10;

    // .header__container

    &__container {
        max-width: calc(1290px + 2*15px);
        padding-inline: 15px;
        margin: 0 auto; 
    }

    // .header__menu

    &__menu {
    }
}
.menu {

    padding-block: 26px;

    position: relative;

    // .menu__button

    &__button {
        background-color: #ffbc57;
        border-radius: 8px;
        padding: 11px 20px;

        font-weight: 600;
        font-size: 19px;
        line-height: 1.26316;
        color: #fff;

        &::before {
            content: "";
            background: url(../img/icon_button_catalog.svg) center / 20px auto no-repeat;
            width: 24px;
            height: 24px;
            padding: 2px;
            vertical-align: middle;
            margin-right: 10px;
        }

    }

    &:has(.list:target) .menu__button {
        background-color: #008362;
        &::before {
            background: url(../img/icon_button_crose.svg) center / 20px auto no-repeat;
        }
    }

    // .menu__list

    &__list {
    }
}
.list {

    visibility: hidden;
    display: none;

    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    background-color: #fff;
    padding: 8px 0px;
    border-radius: 8px;
    &:has(.list__item:hover) {
        border-radius: 8px 0 0 8px;
    }
    &:target {
        visibility: visible;
        display: block;
    }
    // .list__item
    
    &__item {
        &:hover .list__sub-links {
            visibility: visible;
        }
        &:hover {
            &::after {
                content: "";
                position: absolute;
                top: 8px;
                left: 100%;
                background-color: #ffbc57;
                width: 5px;
                height: calc(100% - 2*8px);
            }
        }

    }

    // .list__link
    
    &__link {
        min-width: 300px;
        &::after {
            content: "";
            background: url(../img/arrow_yellow.svg) right center / 100% no-repeat;
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
        white-space: nowrap;
        padding-right: 39px;

        &:hover {
            background-color: #ffbc57;
            &::after {
                background: url(../img/arrow_black.svg) right center / 100% no-repeat;
            }
        }
    }

    // .list__icon

    &__row {
        width: 100%;
        padding: 10px 15px 10px 35px;
        img {
            vertical-align: middle;
            margin-right: 15px;
        }
        display: inline-block;
        min-height: 60px;
    }

    // .list__sub-links

    &__sub-links {
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        padding: 20px 20px 20px 30px;
        //min-width: 320px;
        white-space: nowrap;
        
        visibility: hidden;
        overflow: auto;
        background-color: #fff;
        border-radius: 0px 8px 8px 0px;
    }

    // .list__sub-link

    &__sub-link {
        font-weight: 400;
        font-size: 19px;
        line-height: 2.10526;
        color: #2b2929;
        &:hover {
            text-decoration: underline;
        }
    }
}

//!-------------------------------------------------------------------

.page {
    
    background-color: #f8f8f8;
    padding: 50px 0px;
    // .page__container

    &__container {
        max-width: calc(1290px + 2*15px);
        padding-inline: 15px;
        margin: 0 auto;
    }

    // .page__card

    &__card {
    }
}
.card {

    position: relative;
    
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    }
    border-radius: 8px;
    min-height: 300px;
    display: inline-block;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;

    overflow: clip;
    &::before {
        content: "";
        background-color: #f8f8f8;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        position: absolute;
        bottom: -90px;
        left: -15px;
    }
    // .card__body

    &__body {
    }

    // .card__info

    &__info {

    }

    // .card__name

    &__name {
        overflow: clip;
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: 145px;
        max-height: 60px;
        color: #2b2929;
    }

    // .card__number

    &__number {
        overflow: clip;
        position: absolute;
        top: 20px;
        right: 20px;
        max-width: 55px;
        max-height: 33px;
        text-align: right;
        color: #b1b1b1;
    }

    // .card__image

    &__image {
        position: relative;
        z-index: 2;
    }

    // .card__link

    &__link {
        position: absolute;
        z-index: 3;
        bottom: 20px;
        right: 20px;
        &:hover {
            scale: 1.2;
        }
    }
}

